<!-- Nav -->
	<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li {% if current[1] == 'index.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/index.html">Home</a></li>
			<li>
				<a href="">Projetos</a>
				<ul>
					<li><a href="comerciais.html">Comerciais</a></li>
					<li><a href="residenciais.html">Residenciais</a></li>
					<li><a href="coberturas.html">Coberturas</a></li>
					<li><a href="industriais.html">Industriais</a></li>
					<li><a href="bovinos.html">Equipamentos para Frigoríficos</a></li>

					<li><a href="mel.html">Equipamentos para Mel</a></li>
					<li><a href="gelatina.html">Equipamentos para Gelatina</a></li>
					
					<!--<li>
						<a href="">Phasellus consequat</a>
						<ul>
							<li><a href="#">Lorem ipsum dolor</a></li>
							<li><a href="#">Phasellus consequat</a></li>
							<li><a href="#">Magna phasellus</a></li>
							<li><a href="#">Etiam dolore nisl</a></li>
							<li><a href="#">Veroeros feugiat</a></li>
						</ul>
					</li>-->
					
				</ul>
			</li>
			<li><a href="contato.html">Contato</a></li>
			<!--
			<li {% if current[1] == 'blog' %}class='current'{% endif %}><a href="{{ site.baseurl }}/blog">Blog</a></li>
			<li {% if current[1] == 'left-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/left-sidebar.html">Left Sidebar</a></li>
			<li {% if current[1] == 'right-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/right-sidebar.html">Right Sidebar</a></li>
			<li {% if current[1] == 'no-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/no-sidebar.html">No Sidebar</a></li>-->
		</ul>
	</nav>