---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
						<h1><a href="#" id="logo">{{ page.title }}</a></h1>

					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2>MetalRey</h2>
										<span class="byline">Soluções inteligentes em metal e alumínio para sua obra!</span>
									</header>
									<a href="#main" class="button alt">Saiba Mais</a>
								</section>
							</div>
						</div>

				</div>
			</div>

		<!-- Featured -->
			<div class="wrapper style2">
				<section class="container">
					<header class="major">
						<h2>Linhas de Produtos</h2>
						<span class="byline"></span>
					</header>
					<div class="row no-collapse-1">
						<section class="3u">
							<a href="comerciais.html" class="image feature">
								<img src="{{ site.baseurl }}/assets/images/plataforma.jpg" alt="">
								<div class="overlayimagem">
							<div class="textimagem">+ Projetos Comerciais</div>
								</div></a>
							<p>Comerciais</p>
						</section>
						<section class="3u">
							<a href="industriais.html" class="image feature">
								<img src="{{ site.baseurl }}/assets/images/tanque.jpg" alt="">
							<div class="overlayimagem">
							<div class="textimagem">+ Projetos Industriais</div>
								</div></a>
							<p>Industriais</p>
						</section>
						<section class="3u">
							<a href="residenciais.html" class="image feature">
								<img src="{{ site.baseurl }}/assets/images/portas.jpg" alt="">
							<div class="overlayimagem">
							<div class="textimagem">+ Projetos Residenciais</div>
								</div></a>
							<p>Residenciais</p>
						</section>
						<section class="3u">
							<a href="coberturas.html" class="image feature">
								<img src="{{ site.baseurl }}/assets/images/printfiles/metalreyprojetos-222.jpg" alt="">
							<div class="overlayimagem">
							<div class="textimagem">+ Coberturas</div>
								</div></a>
							<p>Coberturas</p>
						</section>


					</div>
				</section>
			</div>

	{{ content }}